<%= form_with url: "/", method: :post, :html => { :id => "poker_hand_form", :local => false } do |form| %>
  <%= form.label :poker_hand, "Poker hand" %>
  </br>
  <%= form.text_field :poker_hand, placeholder: "Enter hand. Ex.: 'AH 2D 3C 4C 5D", :style => "width: 200px" %>
  </br>
  <%= form.submit "Submit hand", data: { disable_with: false } %> <%# No more disable after submit %>
<% end %>

<div id="results_field">
</div>

<script>
  const poker_hand_form = document.querySelector("#poker_hand_form")
  const results_field = document.querySelector("#results_field")
  poker_hand_form.addEventListener("ajax:success", (event) => {
    const [_data, _status, xhr] = event.detail;
    console.log(_data, _status, xhr);
  });

</script>